.container {
  width: 100%;

  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .formGroups {
      display: flex;
      gap: 50px;

      & > * {
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex: 1;
        max-width: 400px;

        .hint {
          width: 100%;
          display: flex;
          align-items: center;
          gap: 10px;

          & > *:nth-child(1) {
            flex: 1;
          }

          svg path {
            stroke: #fff;
          }
        }

        .grouped {
          display: flex;
          gap: 10px;
        }

        .addEvent {
          display: flex;
          align-items: center;
          gap: 10px;
        }

        .item {
          width: 100%;
          display: flex;
          align-items: center;
          gap: 10px;

          .itemType {
            flex: 1;
            display: flex;
            align-items: center;

            .spacing {
              width: 10px;
              display: block;
            }
          }
        }

        .details {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .duration {
            display: flex;
            align-items: center;
            gap: 15px;

            .time {
              width: 100px;
            }
          }
        }
      }
    }

    .submit {
      align-self: flex-start;
      width: 400px;
      max-width: 100%;
    }
  }
}
