.rounds {
  max-width: 700px;
  flex: 2;

  .heading {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .text {
      flex: 1;
    }
  }

  .cardOfRound {
    margin-bottom: 10px;

    .item {
      display: flex;
      align-items: center;
      padding: 0 8px;
    }

    .link {
      display: block;
      width: 100%;
    }

    .flex1 {
      flex: 1;
    }

    .handle {
      padding: 10px;
      font-size: 1.5rem;
      display: flex;
      align-items: center;
    }
  }

  .addRound {
    display: flex;
    align-items: stretch;
    width: 200px;

    .addButton {
      min-width: max-content;
      width: 100%;
      height: 100%;
    }

    .button {
      $zero: 0;
      width: $zero;
      min-width: $zero;
      transition: width 200ms ease;

      &.expand {
        width: 200px;
      }
    }

    .addButtonOuter {
      overflow-x: hidden;
    }
  }

  .noRounds {
    color: #3c3c3c;
    margin-bottom: 20px;
  }
}
