@import '../../../../consts.scss';

.rounds {
  max-width: 700px;
  flex: 2;

  .heading {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .text {
      flex: 1;
    }
  }

  .cardOfRound {
    display: flex;
    align-items: center;

    .item {
      display: flex;
      align-items: center;
      padding: 0 8px;
      width: 100%;

      .delete {
        color: $errorMain;
      }
    }

    .link {
      display: block;
      width: 100%;
    }

    .flex1 {
      flex: 1;
    }

    .flex2 {
      display: flex;
      align-items: center;
      gap: 5px;

      .inputField {
        flex: 1;
        margin-left: 10px;
      }
    }

    .handle {
      padding: 10px;
      font-size: 1.5rem;
      display: flex;
      align-items: center;
    }
  }
}

.droppable {
  gap: 10px;
}
