.toolbar {
  display: flex;
  align-items: center;

  .text {
    flex: 1;
  }

  .hint {
    max-width: min-content;
    font-size: 0.7rem;
    text-align: right;
    height: 100%;
    margin-right: 20px;
  }
}
