@import '../../consts.scss';

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: $primaryColor;
  padding: 0 20px;
  box-shadow: 0 0 7px $primaryColor;

  ul {
    display: flex;
    gap: 5px;
    list-style: none;
    padding: 0;
    margin: 0;

    li a {
      color: #ffffff;
    }


  }
}

.logoContainer {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex: 1;

  .logo {
    align-self: stretch;
    width: auto;
    color: #ffffff;
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: 1.5rem;
  }
}
