.packsList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  @media screen and (max-width: 1280px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: 1000px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }

  $focusedColor: #ffffff;
  $unfocusedColor: scale-color($focusedColor, $alpha: -40%);
  $focusDuration: 200ms;
  .hoverUnfocused {
    border-color: $unfocusedColor;
    color: $unfocusedColor;
    transition-property: color, border-color;
    transition-duration: $focusDuration;
  }

  .hoverFocused {
    border-color: $focusedColor;
    color: $focusedColor;
    transition-duration: $focusDuration;
  }

  .packBase {
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    aspect-ratio: 400 / 220;
    border: 2px solid;
    @extend .hoverUnfocused;
    animation: visibilityDelay 500ms;
    animation-fill-mode: forwards;

    @keyframes visibilityDelay {
      0% { opacity: 0 }
      100% { opacity: 1 }
    }

    &.newPack {
      padding: 10px;
      font-weight: 600;
      font-size: 1.0rem;
      border-style: dashed;
    }

    &.loading {
      cursor: default;
      border: 0;
      opacity: 0;
      animation-delay: 200ms;
      position: relative;

      .skeleton {
        position: absolute;
        left: 0; top: 0;
        width: 100%;
        height: 100%;
      }
    }

    &.upload {
      z-index: 3;
    }

    & > span {
      text-align: center;
      display: flex;
      align-items: center;
      gap: 5px;
    }

    &:hover:not(.loading) {
      @extend .hoverFocused;

      &.pack {
        .thumbnail {
          background-color: $focusedColor;
        }
        .info {
          @extend .hoverFocused;
        }
      }
    }

    &.pack {
      align-self: stretch;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: stretch;

      .thumbnail {
        flex: 1;
        background-color: $unfocusedColor;
        transition: background-color $focusDuration;
      }

      .info {
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-top: 2px solid;

        span {
          display: block;
        }

        .name {
          font-weight: 600;
        }

        .time {
          font-size: 0.8rem;
        }
      }
    }
  }
}

.upload {
  z-index: 2;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition-property: background-color, backdrop-filter;
  transition-duration: 200ms;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(0px);
  pointer-events: none;

  &.visible {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
  }
}

.alert {
  max-width: 400px;
  transition: height 500ms;
}
