.packsList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  @media screen and (max-width: 1280px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: 1000px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }

  $focusedColor: #ffffff;
  $unfocusedColor: scale-color($focusedColor, $alpha: -40%);
  $focusDuration: 200ms;
  .hoverUnfocused {
    border-color: $unfocusedColor;
    color: $unfocusedColor;
    transition-property: color, border-color;
    transition-duration: $focusDuration;
  }

  .hoverFocused {
    border-color: $focusedColor;
    color: $focusedColor;
    transition-duration: $focusDuration;
  }

  .packBase {
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    aspect-ratio: 400 / 220;
    border: 2px solid;
    @extend .hoverUnfocused;

    &.newPack {
      padding: 10px;
      font-weight: 600;
      font-size: 1.0rem;
      border-style: dashed;
    }

    &.loading {
      cursor: default;
      border: 0;
    }

    & > span {
      text-align: center;
      display: flex;
      align-items: center;
      gap: 5px;
    }

    &:hover {
      @extend .hoverFocused;

      .pack {
        .thumbnail {
          background-color: $focusedColor;
        }
        .info {
          @extend .hoverFocused;
        }
      }
    }

    .pack {
      align-self: stretch;
      width: 100%;
      display: flex;
      flex-direction: column;

      .thumbnail {
        flex: 1;
        background-color: $unfocusedColor;
        transition: background-color $focusDuration;
      }

      .info {
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-top: 2px solid;

        .name {
          font-weight: 600;
        }

        .time {
          font-size: 0.9rem;
        }
      }
    }
  }
}
