@import '../../../consts.scss';

.toolbar {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;

  .name {
    flex: 1;
  }

  .delete {
    color: $errorMain;
  }
}

.addTheme {
  margin-top: 10px;
}

div.table {
  box-shadow: none;
  border: 1px solid rgba(81, 81, 81, 1);

  .tableCell {
    padding: 0;

    .buttonBase {
      padding: 16px;
      width: 100%;
    }
  }
}

.heading {
  display: flex;
  align-items: center;

  h2 {
    flex: 1;
  }
}

.noItemsYet {
  color: #777;
}

.tableRow {
  cursor: pointer;
}
